@model List<Word>
@{
    ViewData["Title"] = "Words to learn";
}

<div class="text-center">
    <div>
        <h3> Dictionary (@Model.Count)</h3>
        <table>
            <tr>
                <td><p></p></td>
               
                <td></td>
            </tr>
            @{
                foreach (var word in Model)
                {
                    <tr>
                        <td><p>@word.Name</p></td>
                       
                        <td><p><a href="/Home/Buy/@word.Id">Купити</a> </p></td>
                    </tr>
                }
            }
        </table>
    </div>

</div>